html, body {
	height: 100%;
	margin:0;
	margin-bottom: -100px;
}

#container {
	position:relative; 
    width: 100%; 
    height: auto !important;
    height: 100%;
    min-height:100%;
}

.box_container{
	padding-left:2em;
	padding-right:2em;
}

#footer { 
	margin:auto;
    height:100px;
    position:relative;
    width:100%;
    text-align:center;
    background: #5A42EC;
  	background: -moz-linear-gradient(left, #5A42EC 0%, #2690F8 50%, #09BBFE 100%);
   	background: -webkit-linear-gradient(left, #5A42EC 0%, #2690F8 50%, #09BBFE 100%);
   	background: linear-gradient(to right, #5A42EC 0%, #2690F8 50%, #09BBFE 100%);
}

#footer_table{
	color: white;
	width: 100%;
	margin:auto;

}
