@charset "UTF-8";
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
-webkit-appearance:none;
}
input[type=search] {
-webkit-appearance:textfield;
-webkit-box-sizing:content-box;
}

header{
     background: #5A42EC;
  	 background: -moz-linear-gradient(left, #5A42EC 0%, #2690F8 50%, #09BBFE 100%);
   	 background: -webkit-linear-gradient(left, #5A42EC 0%, #2690F8 50%, #09BBFE 100%);
     background: linear-gradient(to right, #5A42EC 0%, #2690F8 50%, #09BBFE 100%);
     width:100%;
     position: sticky;
     display:flex;
     left:0;
     flex-direction:row;
     max-height:80px;
     margin:0 auto;
}

#logo{
    padding:10px;
}

#logo > a > img{
    width:60px;
}

#userLogged{
	margin-top:1.4em;
	color:#28293a;
}

#cartQuantity{
	margin-top:15px;
	margin-left:0;
	padding-left:0;
}


#ricerca {
	padding: 30px 10% 15px 10%;
	width: 100%;
	float: left;
}

#result{
	border-radius: 10px 10px 0px 0px;
	width: 100%;
}

#sub {
	width:10%;
	cursor: pointer;
	background: #2196F3;
 	color: white;
 	font-size: 22px;
 	border-left: none;
 	border: 3px solid white;
 	border-radius: 0px 10px 10px 0px;
 	float: left;
}

#s {
	width: 85%;
	height: 28px;
	background: white;
	border: 3px solid white;
	float: left;
	border-radius: 10px 0px 0px 10px;
	height: 30px;
	outline: none;
}

#bottoniera{
     display:flex;
     flex-direction:row;
     justify-content:flex-end;
     margin-top: 22px;
     margin-right: 3%;
}

#bottone_utente{
    margin:10px;
}

#bottone_utente > a > img{
    height:30px;
}

#bottone_carrello{
    margin:10px;
}

#bottone_carrello > a > img{
    height:30px;
}

#navigationBar{
	background: #5A42EC !important; 
  	background: -moz-linear-gradient(left, #5A42EC 0%, #2690F8 50%, #09BBFE 100%) !important;
   	background: -webkit-linear-gradient(left, #5A42EC 0%, #2690F8 50%, #09BBFE 100%) !important;
   	background: linear-gradient(to right, #5A42EC 0%, #2690F8 50%, #09BBFE 100%) !important;
}

 .category {
        background-color: none !important;
        border: none !important;
        color: white !important;
        padding: 16px 32px !important;
        text-align: center !important;
        text-decoration: none !important;
        display: inline-block !important;
        margin: 4px 2px !important;
        transition-duration: 0.5s !important;
        cursor: pointer !important;
    }
    
.category:hover {
       background-color: white !important;
       color: #5A42EC !important;
}

.offerte {
    font-weight: bold !important;
    background-color: none !important;
    border: none !important;
    color: white !important;
    padding: 16px 32px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    margin: 4px 2px !important;
    transition-duration: 0.5s !important;
    cursor: pointer !important;
}

.offerte:hover {
    background-color: white !important;
    color: #5A42EC !important;
}

#hamburger {
  background:none;
  position:absolute;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:white;
  border:0;
  font-size:30px;
  font-weight:bold;
  display:none;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

#cross{
  display:none;
  background:none;
  position:absolute;
  padding:7px 15px 0px 15px;
  color:white;
  border:0;
  font-size:50px;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}
#menu{
	z-index:1000000;
	font-weight:bold; 
	font-size:0.8em; 
	width:100%; 
	background: #5A42EC !important; 
  	background: -moz-linear-gradient(left, #5A42EC 0%, #2690F8 50%, #09BBFE 100%) !important;
   	background: -webkit-linear-gradient(left, #5A42EC 0%, #2690F8 50%, #09BBFE 100%) !important;
   	background: linear-gradient(to right, #5A42EC 0%, #2690F8 50%, #09BBFE 100%) !important;
	position:absolute; 
	text-align:center; 
	font-size:12px;
	display:none;  
}

#menu ul {
	margin: 0; 
	padding: 0; 
	list-style-type: none; 
	list-style-image: none;
}

#menu li {
	display: block;  
	padding:15px 0 15px 0; 
	border-bottom:#dddddd 1px solid;
}

#menu li:hover{
	display: block;    
	padding:15px 0 15px 0; 
	border-bottom:#dddddd 1px solid;
}

#menu ul li a { 
	text-decoration:none;  
	margin: 0px; 
	color:white;
}
	
#menu ul li a:hover {  
	color: #666; 
	text-decoration:none;
}

#menu a{
	text-decoration:none; 
	color:white;
}

#menu a:hover{
	text-decoration:none; 
	color:white;
}


/* Tablet e Telefono*/
@media screen and (max-width: 768px) {
  body {
    font-size: 1.2vw;
  }
  
  #bottone_utente{
     display:none;
  }
  
  #bottone_carrello{
     display:none;
  }
  
  #navigationBar{
  	display:none;
  }
   #cartQuantity{
  	display:none;
  }
  
   #userLogged{
  	display:none;
  }
}
